@model IEnumerable<SpointLiteVersion.Models.NcFsecuencia>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-9 modal-content contedor" style="width:90%; margin-left:4%; margin-top:2%;">
            <h2 style="margin-left:30px; margin-bottom:35px;">Datos</h2>
            <p>
                <Button onclick="location.href='@Url.Action("Create","NcFsecuencias")'" class="btn btn-success crear"><i class="fas fa-plus iconocrear"></i></Button>

            </p>
            <div class="row">
                <div class="modal-content" style="width:88%; margin-left:4%; margin-top:2%;">
                    <table class="table  table-hover t tabla" id="tabla">
                        <thead>
                            <tr>
                                <th>
                    @Html.DisplayName("FECHA")
                                </th>
                                <th>
                    @Html.DisplayName("VENCIMIENTO")
                                </th>
                                <th>
                                    @Html.DisplayName("PREFIJO")
                                </th>

                                <th>
                                    @Html.DisplayName("DESDE")
                                </th>
                                <th>
                                    @Html.DisplayName("HASTA")
                                </th>
                                <th>
                                    @Html.DisplayName("USADO")
                                </th>
                                <th>
                                    @Html.DisplayName("AUTORIZACIÓN")
                                </th>

                                <th hidden>ACCIONES</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.fecha)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.fechavence)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.prefijo)
                                </td>
                               
                                <td>
                                    @Html.DisplayFor(modelItem => item.desde)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.hasta)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.usado)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.autorizacion)
                                </td>
                             
                                <td>
                                    <a hidden href="@Url.Action("Create","NcFsecuencias",new { id=item.idDetalle})" class="edit"><i class="fas fa-edit eliminar"></i></a>
                                   
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#tabla').DataTable({
            "pagingType": "full_numbers", // "simple" option for 'Previous' and 'Next' buttons only
            "language": {
                "decimal": "",
                "emptyTable": "NO HAY INFORMACION",
                "info": "MOSTRANDO _START_ A _END_ de _TOTAL_ ENTRADAS",
                "infoEmpty": "MOSTRANDO 0 to 0 of 0 ENTRADAS",
                "infoFiltered": "(FILTRADO DE _MAX_ TOTAL ENTRADAS)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "MOSTRAR _MENU_ ENTRADAS",
                "loadingRecords": "CARGANDO...",
                "processing": "PROCESANDO...",
                "search": "BUSCAR:",
                "zeroRecords": "SIN RESULTADOS ENCONTRADOS",
                "paginate": {
                    "first": "PRIMERO",
                    "last": "ULTIMO",
                    "next": "SIGUIENTE",
                    "previous": "ANTERIOR"
                }
            }
        });
        $('.dataTables_length').addClass('bs-select');
    });
</script>
<script>
    $(document).ready(function () {

        $('#tabla tr').click(function () {
            var href = $(this).find("a").attr("href");
            if (href) {
                window.location = href;
            }
        });

    });
</script>