@model SpointLiteVersion.Models.facturas

@{
    ViewBag.Title = "Create";
}




<div class="container">

    <div class="row">
        <div class="col-md-7 modal-content contedor" style="width:88%; margin-left:4%; margin-top:2%;">
            <center><i class="fas fa-user iconousuario"></i></center>
            <form action="javascript:fn_agregar()" id="frm_usu" method="post">
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.fecha, htmlAttributes: new { @class = "control-label col-md-2" })
                            <input type="date" name="fecha" value="@DateTime.Now.Year-@DateTime.Now.Month.ToString("00")-@DateTime.Now.Day.ToString("00")" class="form-control" id="fecha" />
                            @Html.ValidationMessageFor(model => model.fecha, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group col-md-5">

                            @Html.LabelFor(model => model.observacion, htmlAttributes: new { @class = "control-label col-md-2" })

                            @Html.EditorFor(model => model.observacion, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ingrese Una Observación" } })
                            @Html.ValidationMessageFor(model => model.observacion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            @Html.LabelFor(model => model.cliente, htmlAttributes: new { @class = "control-label col-md-2" })
                            <input type="text" list="cliente1" name="cliente" id="cliente" class="form-control" autocomplete="off" />

                            <datalist id="cliente1">
                                @foreach (var m in ViewBag.cliente)
                                {
                                    <option value="@m.Text" data-id="@m.Value" />
                                }
                            </datalist>
                            @*@Html.DropDownList("cliente", (IEnumerable<SelectListItem>)ViewBag.clientes, "---Selecciona Un Cliente---", new { @class = "form-control" })*@

                            @Html.ValidationMessageFor(model => model.cliente, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group col-md-3" style="width:24%;">

                            @Html.LabelFor(model => model.vendedor, htmlAttributes: new { @class = "control-label col-md-2" })

                            <input type="text" list="vendedor1" name="vendedor" id="vendedor" class="form-control" autocomplete="off" />

                            <datalist id="vendedor1">
                                @foreach (var m in ViewBag.vendedor)
                                {
                                    <option value="@m.Text" data-id="@m.Value" />
                                }
                            </datalist>

                            @*@Html.DropDownList("vendedor", (IEnumerable<SelectListItem>)ViewBag.vendedores, "---Selecciona Un vendedor---", new { @class = "form-control" })*@
                            @Html.ValidationMessageFor(model => model.vendedor, "", new { @class = "text-danger" })
                        </div>
                    </div>




                    <div class="form-row">
                        <div class="form-group col-md-3">
                            @*@Html.EditorFor(model => model.producto);*@
                            <label for="producto" class="control-label col-md-2">Producto</label>
                            <input type="text" list="colors" name="producto" id="producto" class="form-control" autocomplete="off" />

                            <datalist id="colors">
                                @foreach (var m in ViewBag.producto)
                                {
                                    <option value="@m.Text" data-id="@m.Value" />
                                }
                            </datalist>
                            @*@Html.DropDownList("producto", (IEnumerable<SelectListItem>)ViewBag.producto, "---Selecciona Un producto---", new { @class = "form-control" })*@

                        </div>
                        <div class="col-md-1 boton" style="margin-top:30px;">
                            <a href="#" class="btn btn-primary Datoscomprobante " data-toggle="modal" data-target="#exampleModal"><span class="">NCF</span></a>

                        </div>
                        <div class="form-group col-md-3" style="">


                            @Html.Label("Descripción", new { @class = "control-label col-md-2" })
                            <input type="text" name="descripci" value="" id="descripci" class="form-control" />

                        </div>
                        <div class="form-group col-md-3" style="">


                            @Html.Label("Precio", new { @class = "control-label col-md-2" })
                            <input type="number" name="precio" value="" id="precio" class="form-control" />
                            @Html.ValidationMessageFor(model => model.precio, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-2">
                            @Html.LabelFor(model => model.credito, htmlAttributes: new { @class = "control-label col-md-2" })

                            <select class="form-control" name="credito" id="credito">
                                <option value="no" selected>No</option>
                                <option value="si">Si</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.credito, "", new { @class = "text-danger" })
                        </div>
                        @*<div class="form-group col-md-2">
            @Html.LabelFor(model => model.descuento, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.descuento, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ingrese Un descuento general" } })

            @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
        </div>*@
                    </div>
                    <select class="" id="descripcionproducto" hidden>
                        <option value="value">text</option>
                    </select>
                    <select class="" id="idproducto" hidden>
                        <option value="value">text</option>
                    </select>
                    <select class="" id="itbisproducto" hidden>
                        <option value="value">text</option>
                    </select>

                    <select class="" id="precio1" hidden>
                        <option value="value">text</option>
                    </select>
                    <select class="" id="creditosaprobados" hidden>
                        <option value="value">text</option>
                    </select>
                    <select class="" id="idcliente" hidden>
                        <option value="value">text</option>
                    </select>
                    @*<select id="idprod">
                            <option value="value">text</option>
                        </select>*@



                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Agregar" class="btn btn-default" />
                            <input type="button" value="Agregar Servicio" class="btn btn-default" onclick="fn_agregarservicios()" />

                        </div>
                    </div>
                    <div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="modal fade modalciudad" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog model" role="document">
        <div class="modal-content modal1">
            <div class="modal-header">
                <button type="button" id="cerrar1" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <div class="comprobante">


                </div>

            </div>
            @*<div class="modal-footer">
                    <button class="mybtn" id="mybtn">Cerrar</button>
                </div>*@
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-9 modal-content contedor" style="width:88%; margin-left:4%; margin-top:2%;">
            <div class="clasefactura" id="clase">
                <div class="principal">
                    <div class="imga"><img src="~/Content/dist/img/carrito3.png" class="imagencarrito" alt="Alternate Text" /></div>
                    <div class="datosclientes">
                        <h2>Cliente <span id="cliente2"></span></h2>
                        <h2>Vendedor <span id="vendedor2"></span></h2>

                    </div>
                </div>
                <div class="detallecompra" style="margin-bottom:0px;">
                    <p style="font-size:15px; margin-top:20px; margin-left:8px;">Detalle de La Compra</p>

                </div>
                <table id="detalle" class="lista table" style="margin-top:-10px;">
                    <thead style="font-size:15px;">

                        <tr>
                            <th class="idprod" style="width:1%;">Ref</th>
                            <th style="width:30%;">descripcion</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Descuento</th>
                            <th class="itb">Itbis</th>
                            <th>Importe</th>
                        </tr>
                    </thead>
                    <tbody></tbody>

                </table>
                <div class="row" style="margin-top:4%;">
                    <div class="form-group col-md-3">
                        <p class="col-md-2">Subtotal</p>
                        <input style="margin-top:10px; margin-left:0px; font-weight:700; " class="form-control subtotaldado" type="text" name="descuentodado" id="subtotal" required readonly />
                    </div>
                    <div class="form-group col-md-3">
                        <p class="col-md-12">Descuentos por Artículo</p>

                        <input style="margin-top:10px; margin-left:0px; font-weight:700;" class="form-control descuentodado" type="text" name="descuentodado" id="descuentos" required readonly />
                    </div>
                    <div class="form-group col-md-3">
                        <p class="col-md-2">ITBIS</p>

                        <input style="margin-top:10px; margin-left:0px; font-weight:700; " class="form-control itbisdado" type="text" name="descuentodado" id="itbisdado" required readonly />
                    </div>
                    <div class="form-group col-md-3">
                        <p class="col-md-2">TOTAL</p>

                        <input style="margin-top:10px; margin-left:0px; font-weight:700; " class="form-control totaldado" type="text" name="descuentodado" id="TotalaPagar" required readonly />
                    </div>
                </div>
                @*<table class="tab">
                        <tr>
                            <td><p style="margin-left:2%;">SubTotal</p></td>
                            <td><p style="margin-left:13%;">Descuentos por Artículo</p></td>
                            <td><p style="margin-left:21%;">ITBIS</p></td>
                            <td style="font-size:17px;float:left;margin-top: 17px;margin-left: 15px;" class="tot">Total</td>
                        </tr>
                        <tr>

                            <td style="width:8%;"><input style="margin-top:10px; margin-left:0px; font-weight:700; " class="form-control" type="text" name="descuentodado" id="descuentodado" required readonly /></td>
                            <td style="width:8%;"><input style="margin-top:10px; margin-left:0px; font-weight:700;" class="form-control" type="text" name="descuentodado" id="descuentodado" required readonly /></td>
                            <td style="width:8%;"><input style="margin-top:10px; margin-left:49px; font-weight:700;" class="form-control" type="text" name="descuentodado" id="descuentodado" required readonly /></td>
                            <td style="width:8%;"><input style="margin-top:10px; font-weight:700; margin-left:30%;" class="form-control" type="text" name="TotalaPagar" id="TotalaPagar" required readonly /></td>

                        </tr>
                    </table>*@
                <div class="tabledatospago">

                    <table class="tab" hidden>
                        <tr>
                            <td style="font-size:17px;float:right;margin-top: 17px;margin-left: 15px;" class="sub">Subtotal</td>
                            <td><input style="margin-top:10px; font-weight:700;" class="form-control" type="text" name="subtotalpagar" id="subtotalpagar" required readonly /></td>

                        </tr>
                    </table>

                    @*<table class="tab">
                                <tr>
                                    <td style="font-size:17px;float:right;margin-top: 17px;margin-left: 15px;" class="tot">Total</td>

                                    <td><input style="margin-top:10px; font-weight:700; " class="form-control" type="text" name="TotalaPagar" id="TotalaPagar" required readonly /></td>

                                </tr>
                                @*<tr class="subtotalcolumn">
                            <td style="font-size:17px;float:right;margin-top: 17px;margin-left: 15px;">Subtotal</td>

                        </tr>*@
                    @*<tr class="descuentocolumn">
                            <td style="font-size:17px;float:right;margin-top: 17px;margin-left: 15px;">Descuento</td>

                            <td><input style=" font-weight:700;" class="form-control" type="text" name="descuentodado" id="descuentodado" required readonly /></td>
                        </tr>*@

                </div>
                <div class="padre">
                    <div class="firma fimas1">
                        <div class="firma1">
                            <label>_________________________________</label>
                        </div>
                        <div class="firma1">
                            <label class="nombrefirma">Recibido Por</label>
                        </div>


                    </div>
                    <div class="firma firmas">
                        <div class="firma1">
                            <label>_________________________________</label>
                        </div>
                        <div class="firma1">
                            <label class="nombrefirma">Emitido Por</label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@*modal para cambiar el descuento y la cantidad*@

@*<button type="button" class="imprimir btn btn-danger" id="imprimir"> <i class="fas fa-print"></i> PRINT</button>*@

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <center>
            <div class="modal-content" style="width:40%; margin-top:30%;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Opciones</h4>
                </div>
                <div class="modal-body">
                    @Html.Label("Cantidad");
                    <input type="text" class="input-sm form-control" id="txtfname" />
                    @Html.ValidationMessageFor(model => model.fecha, "", new { @class = "text-danger" })

                    @Html.Label("Descuento");
                    <input type="text" class="input-sm form-control" id="txtlname" />
                    @Html.ValidationMessageFor(model => model.fecha, "", new { @class = "text-danger" })


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="btnsubmit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </center>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="botones" style="margin-left:50px;">
    <button id="finalizar" class="btn btn-success">Guardar</button>
    <a class="imprimir btn btn-danger" href="~/facturas/reporteActual" target="_blank"> <i class="fas fa-print"></i> Imprimir</a>
    <a href="@Url.Action("Create","facturas")" class="btn btn-info"> Nueva Venta</a>
    <button id="cotizar" class="btn btn-success">Cotizar</button>

    @*<a class="imprimir btn btn-danger" href="#" id="cotizar" target="_blank"> <i class="fas fa-print"></i> Cotizar</a>*@

</div>
<script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
<script src="~/Scripts/alertify/alertify.min.js"></script>
<script src="~/Scripts/autoNumeric/autoNumeric-min.js"></script>
<script src="~/Scripts/autoNumeric/autoNumeric.js"></script>
<link href="~/Content/alertify.core.css" rel="stylesheet" />
<link href="~/Content/alertify.default.css" rel="stylesheet" />

<script>
    $(document).ready(function () {
        $("#producto").change(function () {
            $.post("Getproducto", { idproducto: $("#colors option[value='" + $('#producto').val() + "']").attr('data-id') }, function (data) {


                $("#descripcionproducto").empty();
                $("#itbisproducto").empty();
                $("#precio1").empty();
                $("#idproducto").empty();
                $("#idprod").empty();
                $.each(data, function (create, row) {
                    $("#descripcionproducto").append("<option value='" + row.Descripcion + "'>" + row.Descripcion + "</option>")
                    $("#itbisproducto").append("<option value='" + row.itbis + "'>" + row.itbis + "</option>")
                    //$("#idprod").append("<option value='" + row.itbis + "'>" + row.itbis + "</option>")
                    $("#precio1").append("<option value='" + row.Precio + "'>" + row.Precio + "</option>")
                    $("#idproducto").append("<option value='" + row.CodProducto + "'>" + row.CodProducto + "</option>")
                    //$("#idproducto").append("<option value='" + row.idProducto + "'>" + row.idProducto + "</option>")

                });
            });
        })
    });
</script>
<script>
    $(document).ready(function () {
        $("#cliente").change(function () {

            $.post("Getcliente", { idproducto: $("#cliente1 option[value='" + $('#cliente').val() + "']").attr('data-id') }, function (data) {
                $("#idcliente").empty();

                $("#creditosaprobados").empty();
                $.each(data, function (create, row) {
                    $("#creditosaprobados").append("<option value='" + row.creditoaprobado + "'>" + row.creditoaprobado + "</option>")
                    $("#idcliente").append("<option value='" + row.idCliente + "'>" + row.idCliente + "</option>")

                    //$("#itbisproducto").append("<option value='" + row.itbis + "'>" + row.itbis + "</option>")
                    ////$("#idprod").append("<option value='" + row.itbis + "'>" + row.itbis + "</option>")
                    //$("#precio1").append("<option value='" + row.Precio + "'>" + row.Precio + "</option>")
                    //$("#idproducto").append("<option value='" + row.CodProducto + "'>" + row.CodProducto + "</option>")
                    //$("#idproducto").append("<option value='" + row.idProducto + "'>" + row.idProducto + "</option>")

                });
            });
        })
    });
</script>
<script>
    $(document).ready(function () {
        agregarmas();
    });
    var cantidadmostrar = 1;
    var descuentomostrar = 0;
    var total = 0;
    var valor = 0;
    var subtotal = 0;
    var subtotal1 = 0;
    var subtotalpagar = 0;
    var valor1 = 0;
    var valor2 = 0;
    var descuento = 0;
    var itbis = 0;
    var descuento1 = 0;
    var precio = 0;
    var custom;
    var encontradoResultado = false;
    var abierto = false;
    function fn_agregar() {
        var combo = document.getElementById("cliente1").value;
        encontradoResultado = false;
        var combo1 = document.getElementById("vendedor1").value;
        //var selected1 = combo1.options[combo1.selectedIndex].text
        document.getElementById("cliente2").innerText = $("#cliente").val();
        document.getElementById("vendedor2").innerText = $("#vendedor").val();
        //obtenemos el valor insertado a buscar
        buscar = $("#idproducto").prop("value")

        //utilizamos esta variable solo de ayuda y mostrar que se encontro

        //realizamos el recorrido solo por las celdas que contienen el código, que es la primera
        $("#detalle tr").find('td:eq(0)').each(function () {

            //obtenemos el codigo de la celda
            codigo = $(this).html();

            //comparamos para ver si el código es igual a la busqueda
            if (codigo == buscar) {

                //aqui ya que tenemos el td que contiene el codigo utilizaremos parent para obtener el tr.
                trDelResultado = $(this).parent();

                //ya que tenemos el tr seleccionado ahora podemos navegar a las otras celdas con find
                $(this).parents("tr").find("td").eq(2).html(parseInt($(this).parents("tr").find("td").eq(2).html()) + 1);

                encontradoResultado = true;

                //mostramos el resultado en el div
                //alert("La edad es: " + trDelResultado.find("td").eq(2).html())

            }
        })

        //si no se encontro resultado mostramos que no existe.

        if (encontradoResultado == false) {
            cadena = "<tr class='selected' id='fila' onclick='seleccionar(this.id)'>"

            cadena = cadena + "<td class='idprod'>" + $("#idproducto").val() + "</td>";
            cadena = cadena + "<td>" + $("#descripcionproducto").val() + "</td>";
            cadena = cadena + "<td class='nr'>" + cantidadmostrar + "</td>";
            precio = $("#precio1").val();

            cadena = cadena + "<td>" + parseFloat(precio).toLocaleString('en-US', { style: 'currency', currency: 'USD' }) + "</td>";
            cadena = cadena + "<td class='descuentoproducto'>" + descuentomostrar.toLocaleString('en-US', { style: 'currency', currency: 'USD' }) + "</td>";
            var cantidad_itbis = (parseInt("1") * $("#precio1").val());

            itbis = Math.floor(cantidad_itbis * parseInt($("#itbisproducto").val()) / 100);
            cadena = cadena + "<td class='itb'>" + itbis.toLocaleString('en-US', { style: 'currency', currency: 'USD' }) + "</td>";
            cadena = cadena + "<td class='itb3' hidden>" + $("#itbisproducto").val() + "</td>";


            var y = 0;
            var x = 0;
            var des = 0;

            y = cantidadmostrar;
            x = $("#precio1").val();
            des = descuentomostrar;

            subtotal = y * (x - des) + itbis;
            subtotal1 = (x * y);
            descuento = des;

            cadena = cadena + "<td class='importe'>" + subtotal.toLocaleString('en-US', { style: 'currency', currency: 'USD' }) + "</td>"
            cadena = cadena + "<td class='sub1'>" + subtotal1 + "</td>"

            cadena = cadena + "<td class='botoneliminar'><a class ='elimina'  style='margin-left:-20px;'><button class='btn btn-danger' type='button'><span class='fa fa-remove'></span></button></a></td> ";

            cadena = cadena + "<td class='botoneliminar'><a class ='ver' style='margin-left:-20px;'><button class='btn btn-primary' onclick='seleccionar()' type='button'><span class='fas fa-plus'></span></button></a></td>";
            cadena = cadena + "<td class='botoeliminar'><a class ='disminuir' style='margin-left:-20px;'><button class='btn btn-primary' onclick='aumenta()' type='button'><span class='fas fa-minus'></span></button></a></td>";

            cadena = cadena + "</tr>";
            $("#detalle tbody").append(cadena);




            fn_dar_eliminar();

            sun();
            limpiar();
        }

        sumar();
    }

    function sumar() {
        //total = total + subtotal;
        //descuento1 = descuento1 + descuento;
        //subtotalpagar = subtotalpagar + subtotal1;
        //console.info(total);
        //$("#descuentodado").val(descuento1)

        //$("#subtotalpagar").val(subtotalpagar)
        //$("#TotalaPagar").val(total);

        var filas = document.querySelectorAll("#detalle tbody tr");

        total = 0;
        var sub1 = 0;
        var desci = 0;
        var totalsumaitbis = 0

        // recorremos cada una de las filas
        filas.forEach(function (e) {

            // obtenemos las columnas de cada fila
            var columnas = e.querySelectorAll("td");

            // obtenemos los valores de la cantidad y importe
            var importe = parseFloat(columnas[7].textContent.replace("$", "").replace(",", ""));
            var subto = parseFloat(columnas[8].textContent.replace("$", "").replace(",", ""));
            var desc12 = parseFloat(columnas[4].textContent.replace("$", "").replace(",", ""));
            var totalsumaitbis1 = parseFloat(columnas[5].textContent.replace("$", "").replace(",", ""));
            // mostramos el total por fila

            total += importe;
            sub1 += subto;
            desci += desc12;
            totalsumaitbis += totalsumaitbis1;
        });
        $("#TotalaPagar").val(total.toLocaleString('en-US', { style: 'currency', currency: 'USD' }));
        $('#subtotal').val(sub1.toLocaleString('en-US', { style: 'currency', currency: 'USD' }));
        $('#descuentos').val(desci.toLocaleString('en-US', { style: 'currency', currency: 'USD' }));
        $('#itbisdado').val(totalsumaitbis.toLocaleString('en-US', { style: 'currency', currency: 'USD' }));
    }
    function prueba() {
        $("#sab tr").click(function () {
            $(this).addClass('selected').siblings().removeClass('selected');
            var value = $(this).find('td:first').html();
        });


    }
    function agregarmas() {
        var cantidadaumentar = 0;
        abierto = true;
        $("a.agrega").click(function () {


            cantidadaumentar = $(this).first().parents("tr").find("td").eq(2).text();

            $(this).parents("tr").find("td").eq(2).html(parseInt(cantidadaumentar) + 1);
            cantidadaumentar = 0;






            //cantidadaumentar = $(this).first().parents("tr").first().find("td").eq(2).html();

            //    alert(cantidadaumentar);
            //$(this).parents("tr").find("td").eq(2).html(parseInt(cantidadaumentar) + 1);
            //cantidadaumentar = 0;
            //$(this).parents("tr").find("td").eq(2).fadeOut("normal", function () {
            //    $(this).

            //});
        });
        //$("a.agrega").click(function () {
        //    var valores = "";

        //    // vamos al elemento padre (<tr>) y buscamos todos los elementos <td>
        //    // que contenga el elemento padre
        //    var elementosTD = e.srcElement.parentElement.getElementsByTagName("td");

        //    // recorremos cada uno de los elementos del array de elementos <td>
        //    for (let i = 0; i < elementosTD.length; i++) {

        //        // obtenemos cada uno de los valores y los ponemos en la variable "valores"
        //        valores += elementosTD[i].innerHTML + "\n";
        //    }

        //    alert(valores);
        //    //$(this).parents("tr").find("td").eq(2).fadeOut("normal", function () {
        //    //    $(this).

        //    //});
        //});


    };
    //function dismuniruno() {
    //    $("a.disminuir").click(function () {
    //        if (parseInt($(this).parents("tr").find("td").eq(2).html()) > 0) {

    //            $(this).parents("tr").find("td").eq(2).html(parseInt($(this).parents("tr").find("td").eq(2).html()) - 1);
    //            restar();
    //        }
    //        //$(this).parents("tr").find("td").eq(2).fadeOut("normal", function () {
    //        //    $(this).

    //        //});
    //    });


    //};

    function fn_dar_eliminar() {
        $("a.elimina").click(function (e) {
            e.preventDefault();
            e.stopImmediatePropagation();
            valor = $(this).parents("tr").find("td").eq(6).html();
            valor1 = $(this).parents("tr").find("td").eq(7).html();
            valor2 = $(this).parents("tr").find("td").eq(4).html();
            console.info(valor);
            $(this).parents("tr").fadeOut("normal", function () {
                $(this).remove();
                restar();
            });
        });
    };
    function restar() {
        sumar();
    }
    function limpiar() {

        $("#precio").val("");
        $("#producto").val("");
        $("#cantidad").val("");
        $("#descuento").val("");
        $("#descripcionproducto").val("");
        $("#idproducto").val("");
        $("#itbisproducto").val("");
        $("#precio1").val("");
    }
</script>

@*Para Agregar Servicios*@

<script>
    $(document).ready(function () {
        agregarmas();
    });
    var cantidadmostrar = 1;
    var descuentomostrar = 0;
    var total = 0;
    var valor = 0;
    var subtotal = 0;
    var subtotal1 = 0;
    var subtotalpagar = 0;
    var valor1 = 0;
    var valor2 = 0;
    var descuento = 0;
    var itbis = 0;
    var descuento1 = 0;
    var precio = 0;
    var custom;
    var encontradoResultado = false;
    var abierto = false;
    function fn_agregarservicios() {
        var combo = document.getElementById("cliente1").value;
        encontradoResultado = false;
        var combo1 = document.getElementById("vendedor1").value;
        //var selected1 = combo1.options[combo1.selectedIndex].text
        document.getElementById("cliente2").innerText = $("#cliente").val();
        document.getElementById("vendedor2").innerText = $("#vendedor").val();
        //obtenemos el valor insertado a buscar
        buscar = $("#descripci").prop("value")

        //utilizamos esta variable solo de ayuda y mostrar que se encontro

        //realizamos el recorrido solo por las celdas que contienen el código, que es la primera
        $("#detalle tr").find('td:eq(0)').each(function () {

            //obtenemos el codigo de la celda
            codigo = $(this).html();

            //comparamos para ver si el código es igual a la busqueda
            if (codigo == buscar) {

                //aqui ya que tenemos el td que contiene el codigo utilizaremos parent para obtener el tr.
                trDelResultado = $(this).parent();

                //ya que tenemos el tr seleccionado ahora podemos navegar a las otras celdas con find
                $(this).parents("tr").find("td").eq(2).html(parseInt($(this).parents("tr").find("td").eq(2).html()) + 1);

                encontradoResultado = true;

                //mostramos el resultado en el div
                //alert("La edad es: " + trDelResultado.find("td").eq(2).html())

            }
        })

        //si no se encontro resultado mostramos que no existe.

        if (encontradoResultado == false) {
            cadena = "<tr class='selected' id='fila' onclick='seleccionar(this.id)'>"

            cadena = cadena + "<td class='idprod'>" + "SERVICIO" + "</td>";
            cadena = cadena + "<td>" + $("#descripci").val() + "</td>";
            cadena = cadena + "<td class='nr'>" + cantidadmostrar + "</td>";
            precio = $("#precio").val();

            cadena = cadena + "<td>" + parseFloat(precio).toLocaleString('en-US', { style: 'currency', currency: 'USD' }) + "</td>";
            cadena = cadena + "<td class='descuentoproducto'>" + descuentomostrar.toLocaleString('en-US', { style: 'currency', currency: 'USD' }) + "</td>";
            //var cantidad_itbis = (parseInt("1") * $("#precio").val());

            itbis = 0;
            cadena = cadena + "<td class='itb'>" + itbis.toLocaleString('en-US', { style: 'currency', currency: 'USD' }) + "</td>";
            cadena = cadena + "<td class='itb3' hidden>" + $("#itbisproducto").val() + "</td>";


            var y = 0;
            var x = 0;
            var des = 0;

            y = cantidadmostrar;
            x = $("#precio").val();
            des = descuentomostrar;

            subtotal = y * (x - des) + itbis;
            subtotal1 = (x * y);
            descuento = des;

            cadena = cadena + "<td class='importe'>" + subtotal.toLocaleString('en-US', { style: 'currency', currency: 'USD' }) + "</td>"
            cadena = cadena + "<td class='sub1'>" + subtotal1 + "</td>"

            cadena = cadena + "<td class='botoneliminar'><a class ='elimina'  style='margin-left:-20px;'><button class='btn btn-danger' type='button'><span class='fa fa-remove'></span></button></a></td> ";

            cadena = cadena + "<td class='botoneliminar'><a class ='ver' style='margin-left:-20px;'><button class='btn btn-primary' onclick='seleccionar()' type='button'><span class='fas fa-plus'></span></button></a></td>";
            cadena = cadena + "<td class='botoeliminar'><a class ='disminuir' style='margin-left:-20px;'><button class='btn btn-primary' onclick='aumenta()' type='button'><span class='fas fa-minus'></span></button></a></td>";

            cadena = cadena + "</tr>";
            $("#detalle tbody").append(cadena);




            fn_dar_eliminar();

            sun();
            limpiar();
        }

        sumar();
    }

    function sumar() {
        //total = total + subtotal;
        //descuento1 = descuento1 + descuento;
        //subtotalpagar = subtotalpagar + subtotal1;
        //console.info(total);
        //$("#descuentodado").val(descuento1)

        //$("#subtotalpagar").val(subtotalpagar)
        //$("#TotalaPagar").val(total);

        var filas = document.querySelectorAll("#detalle tbody tr");

        total = 0;
        var sub1 = 0;
        var desci = 0;
        var totalsumaitbis = 0

        // recorremos cada una de las filas
        filas.forEach(function (e) {

            // obtenemos las columnas de cada fila
            var columnas = e.querySelectorAll("td");

            // obtenemos los valores de la cantidad y importe
            var importe = parseFloat(columnas[7].textContent.replace("$", "").replace(",", ""));
            var subto = parseFloat(columnas[8].textContent.replace("$", "").replace(",", ""));
            var desc12 = parseFloat(columnas[4].textContent.replace("$", "").replace(",", ""));
            var totalsumaitbis1 = parseFloat(columnas[5].textContent.replace("$", "").replace(",", ""));
            // mostramos el total por fila

            total += importe;
            sub1 += subto;
            desci += desc12;
            totalsumaitbis += totalsumaitbis1;
        });
        $("#TotalaPagar").val(total.toLocaleString('en-US', { style: 'currency', currency: 'USD' }));
        $('#subtotal').val(sub1.toLocaleString('en-US', { style: 'currency', currency: 'USD' }));
        $('#descuentos').val(desci.toLocaleString('en-US', { style: 'currency', currency: 'USD' }));
        $('#itbisdado').val(totalsumaitbis.toLocaleString('en-US', { style: 'currency', currency: 'USD' }));
    }
    function prueba() {
        $("#sab tr").click(function () {
            $(this).addClass('selected').siblings().removeClass('selected');
            var value = $(this).find('td:first').html();
        });


    }
    function agregarmas() {
        var cantidadaumentar = 0;
        abierto = true;
        $("a.agrega").click(function () {


            cantidadaumentar = $(this).first().parents("tr").find("td").eq(2).text();

            $(this).parents("tr").find("td").eq(2).html(parseInt(cantidadaumentar) + 1);
            cantidadaumentar = 0;






            //cantidadaumentar = $(this).first().parents("tr").first().find("td").eq(2).html();

            //    alert(cantidadaumentar);
            //$(this).parents("tr").find("td").eq(2).html(parseInt(cantidadaumentar) + 1);
            //cantidadaumentar = 0;
            //$(this).parents("tr").find("td").eq(2).fadeOut("normal", function () {
            //    $(this).

            //});
        });
        //$("a.agrega").click(function () {
        //    var valores = "";

        //    // vamos al elemento padre (<tr>) y buscamos todos los elementos <td>
        //    // que contenga el elemento padre
        //    var elementosTD = e.srcElement.parentElement.getElementsByTagName("td");

        //    // recorremos cada uno de los elementos del array de elementos <td>
        //    for (let i = 0; i < elementosTD.length; i++) {

        //        // obtenemos cada uno de los valores y los ponemos en la variable "valores"
        //        valores += elementosTD[i].innerHTML + "\n";
        //    }

        //    alert(valores);
        //    //$(this).parents("tr").find("td").eq(2).fadeOut("normal", function () {
        //    //    $(this).

        //    //});
        //});


    };
    //function dismuniruno() {
    //    $("a.disminuir").click(function () {
    //        if (parseInt($(this).parents("tr").find("td").eq(2).html()) > 0) {

    //            $(this).parents("tr").find("td").eq(2).html(parseInt($(this).parents("tr").find("td").eq(2).html()) - 1);
    //            restar();
    //        }
    //        //$(this).parents("tr").find("td").eq(2).fadeOut("normal", function () {
    //        //    $(this).

    //        //});
    //    });


    //};

    function fn_dar_eliminar() {
        $("a.elimina").click(function (e) {
            e.preventDefault();
            e.stopImmediatePropagation();
            valor = $(this).parents("tr").find("td").eq(6).html();
            valor1 = $(this).parents("tr").find("td").eq(7).html();
            valor2 = $(this).parents("tr").find("td").eq(4).html();
            console.info(valor);
            $(this).parents("tr").fadeOut("normal", function () {
                $(this).remove();
                restar();
            });
        });
    };
    function restar() {
        sumar();
    }
    function limpiar() {

        $("#precio").val("");
        $("#producto").val("");
        $("#cantidad").val("");
        $("#descuento").val("");
        $("#descripcionproducto").val("");
        $("#idproducto").val("");
        $("#itbisproducto").val("");
        $("#precio1").val("");
    }
</script>
<script>
    $(document).ready(function () {

        $("#imprimir").click(function () {
            var option = {
                debug: false,               // show the iframe for debugging
                importCSS: true,            // import parent page css
                importStyle: true,         // import style tags
                printContainer: true,       // print outer container/$.selector
                loadCSS: "/Content/estilosimprimir.css",                // path to additional css file - use an array [] for multiple
                pageTitle: "",              // add title to print page
                removeInline: false,        // remove inline styles from print elements
                removeInlineSelector: "*",  // custom selectors to filter inline styles. removeInline must be true
                printDelay: 333,            // variable print delay
                header: null,               // prefix to html
                footer: null,               // postfix to html
                base: false,                // preserve the BASE tag or accept a string for the URL
                formValues: true,           // preserve input/form values
                canvas: false,              // copy canvas content
                doctypeString: '...',       // enter a different doctype for older markup
                removeScripts: false,       // remove script tags from print content
                copyTagClasses: false,      // copy classes from the html & body tag
                beforePrintEvent: null,     // function for printEvent in iframe
                beforePrint: null,          // function called before iframe is filled
                afterPrint: null,            // function called before iframe is removed
            }
            $(".clasefactura").printThis(option);
        });
    });
</script>
<script>

    $(document).ready(function () {
        var myTable = document.getElementById("detalle");
        myTable.oldHTML = myTable.innerHTML;

        $("a[rel='pop-up']").click(function () {
            var caracteristicas = "height=550,width=1000,scrollTo,resizable=1,scrollbars=1,location=0";
            nueva = window.open(this.href, 'popup', caracteristicas);


            return false;
        });
        //botones
        $("#finalizar").click(function () {
            //alertify.alert("Boton Iniciado");
            //console.info('hola');

            var i = 0;
            var envio = "{fecha:'" + $("#fecha").val() + "',creditos:'" + $("#creditosaprobados").val() + "',observacion:'" + $("#observacion").val() + "',idcliente:'" + $("#cliente1 option[value='" + $('#cliente').val() + "']").attr('data-id')+ "',cliente:'" + $("#cliente").val() + "',vendedor:'" + $("#vendedor").val()  + "',precio:'" + $("#precio").val().replace("$", "").replace(",", "") + "',credito:'" + $("#credito").val() + "',IdCabecera:'2',Total:'" + $('#TotalaPagar').val().replace("$", "").replace(",", "") + "',";
            $("#detalle tbody tr").each(function (index) {
                if (i == 0) {
                    envio += "ListadoDetalle:[{Ref:'" + $(this).find('td').eq(0).text() +
                        "',cantidad:'" + $(this).find('td').eq(2).text() +
                        "',descripcion:'" + $(this).find('td').eq(1).text() +
                        "',precio:'" + $(this).find('td').eq(3).text().replace("$", "").replace(",", "") +
                        "',itbis:'" + $(this).find('td').eq(5).text().replace("$", "").replace(",", "") +
                        "',total:'" + document.getElementById("TotalaPagar").value.replace("$", "").replace(",", "") +
                        "',totaldescuento:'" + document.getElementById("descuentos").value.replace("$", "").replace(",","") +
                        "',descuento:'" + $(this).find('td').eq(4).text().replace("$", "").replace(",", "") +
                        "',importe:'" + $(this).find('td').eq(7).text().replace("$", "").replace(",", "") + "'}";

                } else {
                    envio += ",{Ref:'" + $(this).find('td').eq(0).text() +
                        "',cantidad:'" + $(this).find('td').eq(2).text() +
                        "',descripcion:'" + $(this).find('td').eq(1).text() +
                        "',precio:'" + $(this).find('td').eq(3).text().replace("$", "").replace(",", "") +
                        "',itbis:'" + $(this).find('td').eq(5).text().replace("$", "").replace(",", "") +
                        "',total:'" + document.getElementById("TotalaPagar").value.replace("$", "").replace(",", "") +
                        "',totaldescuento:'" + document.getElementById("descuentos").value.replace("$", "").replace(",", "") +
                        "',descuento:'" + $(this).find('td').eq(4).text().replace("$", "").replace(",", "") +
                        "',importe:'" + $(this).find('td').eq(7).text().replace("$", "").replace(",", "") + "'}"
                }
                i = 1;
            });
            envio += "]}";

            var json = eval("(" + envio + ')');

            //alertify.alert("INGRESE DATOS");
            console.info(json);
        var miUrl = '@Url.Action("PDf", "facturas")'

            $.ajax({
                url: miUrl,
                data: JSON.stringify(json),
                type: "POST",
                async: false,//this makes the ajax-call blocking
                contentType: 'application/json;charset=UTF-8',
                dataType: 'json',
                success: function (response) {
                    alertify.alert(response);

                        //Swal.fire({
                        //    position: 'center',
                        //    title: response,
                        //    showConfirmButton: false,
                        //    timer: 1500

                        //})

                    valid = response.valid;
                    if (response == "VENTA GUARDADA CON EXITO...") {
                        limpiar();
                        if ($("#cliente").val() != "" || $("#vendedor").val() != "") {
                            $("#Suplidor").val("");
                            myTable.innerHTML = myTable.oldHTML;
                            $("#TotalaPagar").val(0);
                            $("#itbisdado").val(0);
                            $("#descuentos").val(0);
                            $("#subtotal").val(0);

                            total = 0;
                            valor = 0;
                        }
                    }

                },
                error: function (error) {
                    alertify.alert(error);
                    //Swal.fire({
                    //    position: 'top-end',
                    //    type: 'success',
                    //    title: error,
                    //    showConfirmButton: false,
                    //    timer: 1500
                    //})

                }
            });

        });

    });
</script>

@*para realizar las cotizaciones de aqui en adelante*@
@*hola*@
<script>

    $(document).ready(function () {
        var myTable = document.getElementById("detalle");
        myTable.oldHTML = myTable.innerHTML;

        $("a[rel='pop-up']").click(function () {
            var caracteristicas = "height=550,width=1000,scrollTo,resizable=1,scrollbars=1,location=0";
            nueva = window.open(this.href, 'popup', caracteristicas);


            return false;
        });
        //botones
        $("#cotizar").click(function () {
            //alertify.alert("Boton Iniciado");
            //console.info('hola');

            var i = 0;
            var envio = "{fecha:'" + $("#fecha").val() + "',creditos:'" + $("#creditosaprobados").val() + "',observacion:'" + $("#observacion").val() + "',itbisdado:'" + $("#itbisdado").val() + "',idcliente:'" + $("#cliente1 option[value='" + $('#cliente').val() + "']").attr('data-id')+ "',cliente:'" + $("#cliente").val() + "',vendedor:'" + $("#vendedor").val()  + "',precio:'" + $("#precio").val().replace("$", "").replace(",", "") + "',credito:'" + $("#credito").val() + "',IdCabecera:'2',Total:'" + $('#TotalaPagar').val().replace("$", "").replace(",", "") + "',";
            $("#detalle tbody tr").each(function (index) {
                if (i == 0) {
                    envio += "ListadoDetalle:[{Ref:'" + $(this).find('td').eq(0).text() +
                        "',cantidad:'" + $(this).find('td').eq(2).text() +
                        "',descripcion:'" + $(this).find('td').eq(1).text() +
                        "',precio:'" + $(this).find('td').eq(3).text().replace("$", "").replace(",", "") +
                        "',itbis:'" + $(this).find('td').eq(5).text().replace("$", "").replace(",", "") +
                        "',total:'" + document.getElementById("TotalaPagar").value.replace("$", "").replace(",", "") +
                        "',totaldescuento:'" + document.getElementById("descuentos").value.replace("$", "").replace(",","") +
                        "',descuento:'" + $(this).find('td').eq(4).text().replace("$", "").replace(",", "") +
                        "',importe:'" + $(this).find('td').eq(7).text().replace("$", "").replace(",", "") + "'}";

                } else {
                    envio += ",{Ref:'" + $(this).find('td').eq(0).text() +
                        "',cantidad:'" + $(this).find('td').eq(2).text() +
                        "',descripcion:'" + $(this).find('td').eq(1).text() +
                        "',precio:'" + $(this).find('td').eq(3).text().replace("$", "").replace(",", "") +
                        "',itbis:'" + $(this).find('td').eq(5).text().replace("$", "").replace(",", "") +
                        "',total:'" + document.getElementById("TotalaPagar").value.replace("$", "").replace(",", "") +
                        "',totaldescuento:'" + document.getElementById("descuentos").value.replace("$", "").replace(",", "") +
                        "',descuento:'" + $(this).find('td').eq(4).text().replace("$", "").replace(",", "") +
                        "',importe:'" + $(this).find('td').eq(7).text().replace("$", "").replace(",", "") + "'}"
                }
                i = 1;
            });
            envio += "]}";

            var json = eval("(" + envio + ')');

            //alertify.alert("INGRESE DATOS");
            console.info(json);
            var miUrl = '@Url.Action("Cotizar", "facturas")';

            $.ajax({
                url: miUrl,
                data: JSON.stringify(json),
                type: "POST",
                async: false,//this makes the ajax-call blocking
                contentType: 'application/json;charset=UTF-8',
                dataType: 'json',
                success: function (response) {
                    alertify.alert(response);

                        //Swal.fire({
                        //    position: 'center',
                        //    title: response,
                        //    showConfirmButton: false,
                        //    timer: 1500

                        //})

                    valid = response.valid;
                    if (response == "COTIZACION REALIZADA CON EXITO...") {
                        limpiar();
                        if ($("#cliente").val() != "" || $("#vendedor").val() != "") {
                            $("#Suplidor").val("");
                            myTable.innerHTML = myTable.oldHTML;
                            $("#TotalaPagar").val(0);
                            $("#itbisdado").val(0);
                            $("#descuentos").val(0);
                            $("#subtotal").val(0);

                            total = 0;
                            valor = 0;
                                           var url = "@Url.Action("cotizacionActual", "facturas")";

                            window.location.href = url;
                        }
                    }

                },
                error: function (error) {
                    alertify.alert(error);
                    //Swal.fire({
                    //    position: 'top-end',
                    //    type: 'success',
                    //    title: error,
                    //    showConfirmButton: false,
                    //    timer: 1500
                    //})

                }
            });

        });

    });
</script>
@*fin de la parte de realizar cotizaciones*@
<script language="javascript">
    function printdiv(printpage) {
        var headstr = "<html><head><title></title></head><body>";
        var footstr = "</body>";
        var newstr = document.all.item(printpage).innerHTML;
        var oldstr = document.body.innerHTML;
        document.body.innerHTML = headstr + newstr + footstr;
        window.print();
        document.body.innerHTML = oldstr;
        return false;
    }
</script>

@*<script>
        $(document).ready(function () {
            $("#producto").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/facturas/GetDatosProductos",
                        type: "POST",
                        dataType: "json",
                        data: { search: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Descripcion, value: item.Descripcion };
                            }))

                        }
                    })
                },
                messages: {
                    noResults: "", results: ""
                }
            });
        })
    </script>*@

<script>
    $(document).ready(function () {
        $('#btneliminar').click(function () {
            //fn_agregar();
            eliminar(id_fila_selected);
        });

    });
    var id_fila_selected;
    function seleccionar(id_fila) {
        $("a.ver").one("click", function (e) {
            e.preventDefault();
            e.stopImmediatePropagation();
            if ($(this).parents("tr").hasClass('seleccionada')) {

                $(this).parents("tr").removeClass('seleccionada');
            } else {
                $(this).parents("tr").addClass('seleccionada');
            }

            id_fila_selected = $(this).parents("tr");

            id_fila_selected.find("td").eq(2).html(parseInt(id_fila_selected.find("td").eq(2).text()) + 1);
            //total = total + subtotal;
            //descuento1 = descuento1 + descuento;
            //subtotalpagar = subtotalpagar + subtotal1;
            //alert(total);
            //$("#descuentodado").val(descuento1)

            //$("#subtotalpagar").val(subtotalpagar)
            if (id_fila_selected.find("td").eq(0).text() == "SERVICIO") {
                id_fila_selected.find("td").eq(6).html(0);
            }

            var cant1 = parseInt(id_fila_selected.find("td").eq(2).text());
            var cant2 = parseInt(id_fila_selected.find("td").eq(3).text().replace("$", "").replace(",", ""));
            var decuent = parseInt(id_fila_selected.find("td").eq(4).text().replace("$", "").replace(",", ""));
            var cantidad_itbis = (cant1 * cant2);
            var itb1 = Math.floor(cantidad_itbis * parseInt(id_fila_selected.find("td").eq(6).text().replace("$", "").replace(",", "")) / 100);
            var total2 = 0;
            //var itb = (cant1 * cant2)+ parseInt($('#idprod').val());
            totalpagar = (cant1 * (cant2 - decuent)) + itb1;

            id_fila_selected.find("td").eq(7).html(totalpagar.toLocaleString('en-US', { style: 'currency', currency: 'USD' }));
            id_fila_selected.find("td").eq(8).html((cant1 * cant2).toLocaleString('en-US', { style: 'currency', currency: 'USD' }));
            id_fila_selected.find("td").eq(5).html(itb1.toLocaleString('en-US', { style: 'currency', currency: 'USD' }));
            var filas = document.querySelectorAll("#detalle tbody tr");
            sumar();


            //var total = 0;

            //// recorremos cada una de las filas
            //filas.forEach(function (e) {

            //    // obtenemos las columnas de cada fila
            //    var columnas = e.querySelectorAll("td");

            //    // obtenemos los valores de la cantidad y importe
            //    var importe = parseFloat(columnas[7].textContent);

            //    // mostramos el total por fila

            //    total += importe;
            //});
            //$("#TotalaPagar").val(total);


        });

        //if ($('#' + id_fila).hasClass('seleccionada')) {
        //    $('#' + id_fila).removeClass('seleccionada');
        //} else {
        //    $('#' + id_fila).addClass('seleccionada');
        //}
        //id_fila_selected = id_fila;

    }
    var id_fila_selected;
    function aumenta(id_fila) {
        $("a.disminuir").one("click", function (e) {
            e.preventDefault();
            e.stopImmediatePropagation();
            if ($(this).parents("tr").hasClass('seleccionada')) {

                $(this).parents("tr").removeClass('seleccionada');
            } else {
                $(this).parents("tr").addClass('seleccionada');
            }

            id_fila_selected = $(this).parents("tr");
            id_fila_selected.find("td").eq(2).html(parseInt(id_fila_selected.find("td").eq(2).text()) - 1);

            var cant1 = parseInt(id_fila_selected.find("td").eq(2).text());
            var cant2 = parseInt(id_fila_selected.find("td").eq(3).text().replace("$", "").replace(",", ""));
            var decuent = parseInt(id_fila_selected.find("td").eq(4).text().replace("$", "").replace(",", ""));
            var cantidad_itbis = (cant1 * cant2);
            var itb1 = Math.floor(cantidad_itbis * parseInt(id_fila_selected.find("td").eq(6).text().replace("$", "").replace(",", "")) / 100);
            var total2 = 0;
            //var itb = (cant1 * cant2)+ parseInt($('#idprod').val());
            totalpagar = (cant1 * (cant2 - decuent)) + itb1;
            id_fila_selected.find("td").eq(7).html(totalpagar.toLocaleString('en-US', { style: 'currency', currency: 'USD' }));
            id_fila_selected.find("td").eq(8).html((cant1 * cant2).toLocaleString('en-US', { style: 'currency', currency: 'USD' }));
            id_fila_selected.find("td").eq(5).html(itb1.toLocaleString('en-US', { style: 'currency', currency: 'USD' }));
            var filas = document.querySelectorAll("#detalle tbody tr");
            sumar();

            //var total = 0;

            //// recorremos cada una de las filas
            //filas.forEach(function (e) {

            //    // obtenemos las columnas de cada fila
            //    var columnas = e.querySelectorAll("td");

            //    // obtenemos los valores de la cantidad y importe
            //    var importe = parseFloat(columnas[7].textContent);

            //    // mostramos el total por fila

            //    total += importe;
            //});
            //$("#TotalaPagar").val(total);


        });

        //if ($('#' + id_fila).hasClass('seleccionada')) {
        //    $('#' + id_fila).removeClass('seleccionada');
        //} else {
        //    $('#' + id_fila).addClass('seleccionada');
        //}
        //id_fila_selected = id_fila;
    }


    function eliminar(id_fila_selected) {
        if ($(id_fila_selected).hasClass('seleccionada')) {
            id_fila_selected.find("td").eq(2).html(parseInt(id_fila_selected.find("td").eq(2).html()) + 1);
        }

    }

</script>

<script>
    var filaselec;
    function sun(id_fila) {


        var prefname; // fname textbox
        var prelname; //lname textbox


        $('table tbody tr td').on('click', function () {
            event.preventDefault();
            if ($(this).parents("tr").hasClass('seleccionada')) {

                $(this).parents("tr").removeClass('seleccionada');
            } else {
                $(this).parents("tr").addClass('seleccionada');
            }
            prefname = $(this).parents("tr").find("td").eq(2).html();
            filaselec = $(this).parents("tr");
            prelname = $(this).parents("tr").find("td").eq(4).html().replace("$", "").replace(",", "");
            $("#txtlname").autoNumeric('init', { aSign: "$ ", lZero: 'deny' });

            document.getElementById("txtfname").value = prefname;
            document.getElementById("txtlname").value = prelname;

            //$("#txtfname").val($(prefname).val());
            //$("#txtlname").val($(prelname).val());
            $("#myModal").modal("show");
        });
        //save change button click evnet
        $("#btnsubmit").click(function () {

            prefname = $("#txtfname").val();
            filaselec.find("td").eq(2).html($("#txtfname").val());
            $(prelname).val($("#txtlname").val().replace("$", "").replace(",", ""));
            filaselec.find("td").eq(4).html($("#txtlname").val().toLocaleString('en-US', { style: 'currency', currency: 'USD' }));
            if (filaselec.find("td").eq(0).text() == "SERVICIO") {
                filaselec.find("td").eq(6).html(0);
            }
            var cant1 = parseInt(filaselec.find("td").eq(2).text());
            var cant2 = parseInt(filaselec.find("td").eq(3).text().replace("$", "").replace(",", ""));
            var decuent = parseInt(filaselec.find("td").eq(4).text().replace("$", "").replace(",", ""));
            var cantidad_itbis = (cant1 * cant2);
            var itb1 = Math.floor(cantidad_itbis * parseInt(filaselec.find("td").eq(6).text().replace("$", "").replace(",", "")) / 100);
            var total2 = 0;


            //var itb = (cant1 * cant2)+ parseInt($('#idprod').val());
            totalpagar = (cant1 * (cant2 - decuent)) + itb1;

            filaselec.find("td").eq(7).html(parseFloat(totalpagar).toLocaleString('en-US', { style: 'currency', currency: 'USD' }));
            filaselec.find("td").eq(5).html(parseFloat(itb1).toLocaleString('en-US', { style: 'currency', currency: 'USD' }));
            var filas = document.querySelectorAll("#detalle tbody tr");

            var total = 0;
            var descuentosaplicar1 = 0;
            // recorremos cada una de las filas
            filas.forEach(function (e) {

                // obtenemos las columnas de cada fila
                var columnas = e.querySelectorAll("td");
                var totalprueba = columnas[7].textContent.replace("$", "").replace(",", "");
                var descuentosaplicar = columnas[4].textContent.replace("$", "").replace(",", "");
                // obtenemos los valores de la cantidad y importe
                var importe = parseFloat(columnas[7].textContent.replace("$", "").replace("$", ""));
                // mostramos el total por fila

                total += parseFloat(totalprueba);
                descuentosaplicar1 += parseFloat(descuentosaplicar);
            });
            $("#TotalaPagar").val(total.toLocaleString('en-US', { style: 'currency', currency: 'USD' }));
            $("#descuentos").val(descuentosaplicar1.toLocaleString('en-US', { style: 'currency', currency: 'USD' }));

            $("#myModal").modal("hide");
        })

    }
</script>

<script>
    //function capt() {
    //    alert("hola");
    //    html2canvas(document.body, {
    //        onrendered(canvas) {
    //            var link = document.getElementById('download');;
    //            var image = canvas.toDataURL();
    //            link.href = image;
    //            link.download = 'screenshot.png';
    //        }
    //    });
    $('#download').click(function () {
        //var ficha = document.getElementById("");
        //var ventimp = window.open(' ', '_blank');
        //ventimp.document.write(ficha.innerHTML);
        //ventimp.document.close();
        //var css = ventimp.document.createElement("link");
        //css.setAttribute("href", "tuhojadeeestilos.css");
        //css.setAttribute("rel", "stylesheet");
        //css.setAttribute("type", "text/css");
        //ventimp.document.head.appendChild(css);
        var options = {
            loadCSS: "/Content/estilosimprimir.css",                // path to additional css file - use an array [] for multiple

        };
        var pdf = new jsPDF();



        pdf.addHTML($(".clasefactura"), 15, 15, options, function () {
            pdf.save('informe.pdf');
        });

    });
</script>
<script>


    function formato() {
        $("td.descuentoproducto").each(function () { $(this).html(parseFloat($(this).text()).toLocaleString('en-US', { style: 'currency', currency: 'USD' })); });
        $("td.itb").each(function () { $(this).html(parseFloat($(this).text()).toLocaleString('en-US', { style: 'currency', currency: 'USD' })); });
        $("td.preciproducto").each(function () { $(this).html(parseFloat($(this).text()).toLocaleString('en-US', { style: 'currency', currency: 'USD' })); });
        $("td.importe").each(function () { $(this).html(parseFloat($(this).text()).toLocaleString('en-US', { style: 'currency', currency: 'USD' })); });

    }

        //var autoNumericInstance = new AutoNumeric('#tabla td', AutoNumeric.getPredefinedOptions().numericPos.dotDecimalCharCommaSeparator);


        //$("#tabla td").autoNumeric('init', { aSign: "$ ", decimalCharacter: ",", lZero: "deny" });
        //$("#tabla td").numeric(",");

    //$("#itbis").numeric(",");


</script>
<script>
    $(document).ready(function () {
        $

        $(".Datoscomprobante").click(function () {
            $(".comprobante").load("/NCFs/Create")
        });
    });
</script>
@*<script>
        function genPDF() {
            alert("hola");
            html2canvas(document.body, {
                onrendered: function (canvas) {

                    var img = canvas.toDataURL("image/png");
                    var doc = new jsPDF();
                    doc.addImage(img, 'JPEG', 20, 20);
                    doc.save('test.pdf');
                }

            });

        }
    </script>*@