@model IEnumerable<SpointLiteVersion.Models.facturas>

@{
    ViewBag.Title = "Facturas";
}





<div class="container">
    <div class="row">
        <div class="col-md-9 modal-content contedor" style="width:90%; margin-left:4%; margin-top:2%;">
            <h2 style="margin-left:30px; margin-bottom:35px;">Facturas</h2>
            <p>
                <Button onclick="location.href='@Url.Action("Create","facturas")'" class="btn btn-success crear"><i class="fas fa-plus iconocrear"></i></Button>

            </p>
            <div class="form-row divbuscar">
                <div class="form-group col-md-4">



                </div>
                    
            </div>
            <div class="row">
                <div class="modal-content" style="width:88%; margin-left:4%; margin-top:2%;">
                    <table class="table  table-hover t tabla" id="tabla">
                        <thead>

                            <tr>
                                <th>
                                @Html.DisplayName("ID")
                                </th>

                                <th>
                                    @Html.DisplayName("FECHA")
                                </th>
                                <th>
                                    @Html.DisplayName("TOTAL")
                                </th>
                                <th>
                                    @Html.DisplayName("CLIENTE")
                                </th>

                                <th>
                                    @Html.DisplayName("ESTADO")
                                </th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.idfactura)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.fecha)
                            </td>
                            <td class="total">
                                @Html.DisplayFor(modelItem => item.Total)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.cliente)
                            </td>
                            <td id="status">
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>




                            <td>
                                @switch (item.Status)
                                {
                                    case "PAGADA":
                                        <a href="@Url.Action("Index", "clientes1")" class="facturar isDisabled" title="Cobrar" disabled="disabled"><i class="fas fa-donate eliminar"></i> </a>
                                        break;
                                    case "PENDIENTE":
                                        <a href="@Url.Action("Cobrarfactura", "facturas",new { id=item.idventa})" target="_blank" class="facturar" title="Cobrar"><i class="fas fa-donate eliminar" disabled="disabled"></i> </a>
                                        break;
                                }


                                | <a href="@Url.Action("Details","facturas",new { id=item.idventa})" target="_blank"><i class="fas fa-eye eliminar"></i></a> |
                                <a href="@Url.Action("Anularfactura","facturas",new { id=item.idfactura})"><i class="fas fa-times-circle eliminar eli"></i></a>


                            </td>
                        </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/Scripts/autoNumeric/autoNumeric-min.js"></script>
<script src="~/Scripts/autoNumeric/autoNumeric.js"></script>
<script>
    $(document).ready(function () {
        $('#tabla').DataTable({
                                        "pagingType": "full_numbers", // "simple" option for 'Previous' and 'Next' buttons only
            "language": {
                                            "decimal": "",
                "emptyTable": "NO HAY INFORMACION",
                "info": "MOSTRANDO _START_ A _END_ de _TOTAL_ ENTRADAS",
                "infoEmpty": "MOSTRANDO 0 to 0 of 0 ENTRADAS",
                "infoFiltered": "(FILTRADO DE _MAX_ TOTAL ENTRADAS)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "MOSTRAR _MENU_ ENTRADAS",
                "loadingRecords": "CARGANDO...",
                "processing": "PROCESANDO...",
                "search": "BUSCAR:",
                "zeroRecords": "SIN RESULTADOS ENCONTRADOS",
                "paginate": {
                                                "first": "PRIMERO",
                    "last": "ULTIMO",
                    "next": "SIGUIENTE",
                    "previous": "ANTERIOR"
                }
                                        }
                                    });
        $('.dataTables_length').addClass('bs-select');
    });
</script>

<script>

    $(document).ready(function () {
        $("td.total").each(function () { $(this).html(parseFloat($(this).text()).toLocaleString('en-US', { style: 'currency', currency: 'USD' })); });
    });
</script>


